.container {
  width: 317px;
  height: 399px;
  /* left: 116px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 12cm;
  border-color: black;
  border-radius: 8px;
}

.profile-pic {
  width: 270px;
  height: 317px;
  top: 260px;
  left: 116px;
  border-radius: 24px ;
}

#root {
  display: flex !important;
}
